<% if @user.errors.any? %>
  <ul>
  <% @user.errors.full_messages.each do |m| %>
  <li><%= m %>
  <% end %> </li></ul>
  <% end %>



<%= form_for @user do |f| %>
<%= f.label :name %><br>
<%= f.text_field :name %><br>
<%= f.label :username %><br>
<%= f.text_field :username %><br>
<% if !@user.id %>
<%= f.label :password %><br>
<%= f.password_field :password %><br>
<% end %>
<%= f.label :interests %><br>
<%= f.collection_check_boxes(:interests, Interest.all.sort_by(&:name) ,:id, :name) do |z| %>
<%= z.label { z.check_box(checked: @user.interest_ids.include?(z.object.id)) + " " + z.text } %><br>
<% end %><br>
<%= f.submit %>
<% end %>
