<% if @user.errors.any? %>
  <ul>
  <% @user.errors.full_messages.each do |m| %>
  <li style="color: red">  <p><%= m %>
  <% end %>
  </p></li></ul>
  <% end %>



<%= form_for @user do |f| %>
<p><strong><%= f.label :name %></p></strong>
<%= f.text_field :name %><br><br>
<p><strong><%= f.label :username %></p></strong>
<%= f.text_field :username %><br>
<% if !@user.id %>
<p><strong><%= f.label :password %></p></strong>
<%= f.password_field :password %><br>
<% end %>
<p><strong><br><%= f.label :interests %></p></strong>
<p><%= f.collection_check_boxes(:interests, Interest.all.sort_by(&:name) ,:id, :name) do |z| %>
<%= z.label { z.check_box(checked: @user.interest_ids.include?(z.object.id)) + " " + z.text } %><br>
<% end %><br>
<%= f.submit %></p>
<% end %>
