<% if @user.errors.any? %>
  <ul>
  <% @user.errors.full_messages.each do |m| %>
  <li><%= m %>
  <% end %> </li></ul>
<% end %>

<%= form_for @user do |f| %>
<p><strong><%= f.label :name %></strong><br>
<%= f.text_field :name %><br><br>
<strong><%= f.label :username %></strong><br>
<%= f.text_field :username %><br><br>
<% if !@user.id %>
<strong><%= f.label :password %></strong><br>
<%= f.password_field :password %><br><br>
<% end %>
<strong><%= f.label :interests %></strong><br>
<%= f.collection_check_boxes(:interests, Interest.all.sort_by(&:name) ,:id, :name) do |z| %>
<%= z.label { z.check_box(checked: @user.interest_ids.include?(z.object.id)) + z.text } %><br>
<% end %><br></p>
<%= f.submit %>
<% end %>
