<h1>Edit User Account</h1>

<% if @user.errors.any? %>
  <ul>
  <% @user.errors.full_messages.each do |m| %>
  <li><%= m %>
  <% end %> </li></ul>
  <% end %>

<%= form_for @user do |f| %>
<%= f.label :name %><br>
<%= f.text_field :name %><br>
<%= f.label :interests %><br>
<%= f.collection_check_boxes :interests, Interest.all ,:id, :name, {checked: @user.interest_ids}, {multiple: true} %><br>
<%= f.label :password %><br>
<%= f.password_field :password %>
<%= f.submit %>
<% end %>
