<h1>Create User Account</h1>

<% if @user.errors.any? %>
  <ul>
  <% @user.errors.full_messages.each do |m| %>
  <li><%= m %>
  <% end %> </li></ul>
  <% end %>



<%= form_for @user do |f| %>
<%= f.label :name %><br>
<%= f.text_field :name %><br>
<%= f.label :username %><br>
<%= f.text_field :username %><br>
<%= f.label :interests %><br>
<%= f.select :interests, options_from_collection_for_select(Interest.all, :id, :name), {:prompt => true}, {:multiple => true, :class => "chzn-select", :style => "height:100px;width:150px;" } %><br>
<%= f.label :password %><br>
<%= f.password_field :password %>
<%= f.submit %>
<% end %>
