
<h1>Welcome to <i>Dérive</i>! </h1>
<h3>Hello <%= @user.name %>!</h3>

<p><b>Your Interests:</b></p>
<% if @user.interests.empty? %>
<p style="color:red;"><b>Select some interests!</b></p>
<% else %>
  <ul>
    <% @user.interests.each do |i| %>
    <li><%= i.name %></li>
    <% end %>
  </ul>
<% end %>

<p><b>Selected Destinations:</b></p>
<% if @user.destinations.empty? %>
<p style="color:red;"><b>Select some destinations!</b></p>
<% else %>
  <ul>
    <% @user.destinations.each do |d| %>
    <li><%= link_to "#{d.city} in #{d.country}", destination_path(d) %></li>
    <% end %>
  </ul>
<% end %>
<%= form_tag edit_user_path(@user), method: 'get' do %>
<%= submit_tag "Edit User Profile" %>
<% end %>
<hr>

<h3>Destination Recommendations:</h3>
<ul>
<% @destinations.each do |d| %>
<li><%= link_to "#{d.city} in #{d.country}", destination_path(d)%></li>
<% end %> </ul>
