<div class="ui grid">
  <div class="eight wide column" style="padding-right: 0px;">
    <% random = random_destination %>
    <a href="/destinations/<%= random.id %>"><img src="<%= random.image %>" style="object-fit: cover; object-position: 100% 0; width:100%; height: 430px; padding-right: 5px;"></a>
    <p style="text-align: center;"><%= random.city %>, <%= random.country %>  •  <a href="/destinations/<%= random.id %>">Learn More</a>

    <br><br>
    <% random = random_destination %>
    <a href="/destinations/<%= random.id %>"><img src="<%= random.image %>" style="object-fit: cover; object-position: 100% 0; width:101.5%; height: 430px; padding-right: 5px;"></a>
    <p style="text-align: center; padding-top: 0px;"><%= random.city %>, <%= random.country %>  •  <a href="/destinations/<%= random.id %>">Learn More</a>
  </div>

  <div class="eight wide column">
    <br><br>
    <h8>Hi there,<br> <%= @user.name %>.</h8><br><br>

    <div class="ui cards">
      <div class="card">
        <div class="content">
          <div class="header"><h6>Username</h6></div>
          <div class="meta">
            <ul>
              <li style="color: black"><p><%= @user.username %></p></li>
            </ul>
          </div>
          <div class="description">
            <h6 style="color: black;">Your Interests:</h6>
            <% if @user.interests.empty? %>
            <ul>
            <li><p style="color:#BF5241;">Looks like you haven't selected any interests yet. Add some!</p></li>
            </ul>
            <%= form_tag edit_user_path(@user), method: 'get' do %>
            <%= submit_tag "Edit User Profile" %>
            <% end %>
            <% else %>
              <ul>
                <% @user.interests.each do |i| %>
                <li style="color: black"><p><%= i.name %></p></li>
                <% end %>
              </ul>
          </div>
          <%= form_tag edit_user_path(@user), method: 'get' do %>
          <%= submit_tag "Edit User Profile" %>
          <% end %>
        </div>
      </div>
    </div>
    <br><br>
    <h6>Your dérive Destinations:</h6>
    <p>&nbsp;&nbsp;Add your favorite destinations to your dérive Destinations.</p>
    <% if @user.destinations.empty? %>
    <p style="color:#BF5241;">&nbsp;&nbsp;&nbsp;Select some destinations!</p>
    <% else %>
      <ul>
        <% @user.destinations.sort_by(&:city).each do |d| %>
        <li><p><%= link_to "#{d.city}, #{d.country}", destination_path(d) %> <button><%= link_to "Remove", user_destination_remove_path(UserDestination.find_by(user: @user.id, destination: d.id)), method: "DELETE" %></button></p></li>
        <% end %>
      </ul>
    <% end %><br>
    <% if @destinations.empty? %>
      <h6>All recommended destinations have been added.</h6>
      <p>Add some more interests for additional recommendations!</p>
    <% else %>
      <h6>Destination Recommendations:</h6>
      <p>&nbsp;&nbsp;Based on your user profile, we recommend the following destinations.</p>
      <ul>
        <% @destinations.sort_by(&:city).each do |d| %>
          <li><p><%= link_to "#{d.city}, #{d.country}", destination_path(d)%> <button><%= link_to "Add", user_destination_add_path(d), method: "POST" %></button></p></li>
          <% end %> </ul>
    <% end %>
    <% end %>
</div>





<!-- OLD STUFF BELOW -->
