
<h1>Welcome to <i>Dérive</i>! </h1>
<h2>Hello <%= @user.name %>!<br>
<i>Username: <%= @user.username %></i></h2>

<h3>Your Interests:</h3>
<% if @user.interests.empty? %>
<p style="color:red;"><b>Select some interests!</b></p>
<% else %>
  <ul>
    <% @user.interests.each do |i| %>
    <li><%= i.name %></li>
    <% end %>
  </ul>
<% end %>
<%= form_tag edit_user_path(@user), method: 'get' do %>
<%= submit_tag "Edit User Profile" %>
<% end %>
<hr>

<h3>My Dream Destinations!</h3>
<% if @user.destinations.empty? %>
<p style="color:red;"><b>Select some destinations!</b></p>
<% else %>
  <ul>
    <% @user.destinations.sort_by(&:city).each do |d| %>
    <li><%= link_to "#{d.city} in #{d.country}", destination_path(d) %> <button><%= link_to "Remove", user_destination_path(UserDestination.find_by(user: @user.id, destination: d.id)), method: "DELETE" %></button></li>
    <% end %>
  </ul>
<% end %>

<% if @destinations.empty? %>
  <h5>*All recommended destinations have been added.*<br>
  Add some more interests for additional recommendations!</h5>
<% else %>
  <h3>Destination Recommendations:</h3>
  <ul>
    <% @destinations.sort_by(&:city).each do |d| %>
      <li><%= link_to "#{d.city} in #{d.country}", destination_path(d)%> <button><%= link_to "Add", user_destinations_create_path(d), method: "POST" %></button> </li>
      <% end %> </ul>
<% end %>
