<h1>Welcome to Dérive <%= @user.name %>!</h1>


<%= form_tag "/search", method: "get" %>
<%= collection_select :interests, :id, Interest.all, :id, :name %>
<%= collection_select :locales, :id, Locale.all, :id, :name %>
<%= collection_select :locales, :id, Locale.all, :id, :name %>
<%= check_box_tag  :english? %>
<%= submit_tag 'Search Destinations'%>
