<div class="ui grid">
  <div class="eight wide column" style="padding-right: 0px;">
    <img src="<%= @destination.image %>" style="object-fit: cover; object-position: 100% 0; width:100%; height: 430px; padding-right: 5px;">
    <div class="">
    &nbsp;&nbsp;<h7><%= @destination.city %>, <%= @destination.country %></h7>

    <% if @user.destinations.include?(@destination) %>
      <button id="user-button"><%= link_to "Remove from your dérive Destinations", user_destination_path(UserDestination.find_by(user: @user.id, destination: @destination.id)), method: "DELETE", data: {confirm: "Please confirm that you would like to remove #{@destination.city}, #{@destination.country} from your dérive Destinations."}%></button>
    <% else %>
      <button id="user-button"><%= link_to "Add to your dérive Destinations", user_destinations_create_path(@destination), method: "POST", data: {confirm: "Please confirm that you would like to add #{@destination.city}, #{@destination.country} to your dérive Destinations."}%></button>
    <% end %>


  </div>
</div>

  <div class="eight wide column">
    <br><br>
    <h8>Learn more about <br><%= @destination.city %>.</h8>


    <br><br>
    <div class="wrapper">
    <div class="ui icon message" id="test">
      &nbsp;<i class="comment outline icon"></i>
      <div class="content">
        <div class="header">
          <h6>Is English primarily spoken in <%= @destination.city %>?</h6>
        </div>
          <% if @destination.english == true %>
            <p>Yes, English is the primary language spoken in <%= @destination.country %>.</p>
          <% else @destination.english == false %>
            <p>No, English is not the primary language spoken in <%= @destination.country %>.</p>
          <% end %>
      </div>
    </div>
    </div>
    <br>
    <div class="wrapper">
    <div class="ui icon message" id="test">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="dollar sign icon"></i>
      <div class="content">
        <div class="header">
          <h6>&nbsp;&nbsp;How expensive is <%= @destination.city %>?</h6>
        </div>
          <% if @destination.budget == "$" %>
          <p>&nbsp;&nbsp;&nbsp;You should expect to spend $20-$50 a day in <%= @destination.city%>.</p>
          <% elsif @destination.budget == "$$" %>
          <p>&nbsp;&nbsp;&nbsp;You should expect to spend $50-$100 a day in <%= @destination.city%>.</p>
          <% elsif @destination.budget == "$$$" %>
          <p>&nbsp;&nbsp;&nbsp;You should expect to spend $100-$200 a day in <%= @destination.city%>.</p>
          <% elsif @destination.budget == "$$$$" %>
          <p>&nbsp;&nbsp;&nbsp;You should expect to spend $200+ a day in <%= @destination.city%>.</p>
          <% end %>
      </div>
    </div>
    </div>
    <br>
    <div class="wrapper">
    <div class="ui icon message" id="test">
      &nbsp;&nbsp;<i class="suitcase icon"></i>
      <div class="content">
        <div class="header">
          <h6>What is the ideal travel group for <%= @destination.city %>?</h6>
        </div>
          <p>dérive's size recommendation for <%= @destination.city %> is <strong><%= @destination.group.downcase %></strong>.</p>
      </div>
    </div>
    </div>
    <br>
    <div class="wrapper">
    <div class="ui icon message" id="test">
      &nbsp;&nbsp;&nbsp;&nbsp;<i class="tree icon"></i>
      <div class="content2">
        <div class="header">
          <h6>What type of locales does <%= @destination.city %> offer?</h6>
        </div>
        <% dest_locales = @destination.locales.sort_by(&:name).map do |dest| %>
          <% dest.name %>
        <% end %>
        <h10><%= dest_locales.join(", ") %></h10>

      </div>
    </div>
    </div>
    <br>
    <div class="wrapper">
    <div class="ui icon message" id="test">
      &nbsp;&nbsp;<i class="flag icon"></i>
      <div class="content2">
        <div class="header">
          <h6>What interests can you pursue in <%= @destination.city %>?</h6>
        </div>
        <% dest_interests = @destination.interests.sort_by(&:name).map do |dest| %>
          <% dest.name %>
        <% end %>
        <h10><%= dest_interests.join(", ") %></h10>

      </div>
    </div>
    </div>
    <br>



  </div>
</div>
