<div class="ui grid">
  <div class="eight wide column" style="padding-right: 0px;">

    <img src="<%= @random.image %>" style="object-fit: cover; object-position: 100% 0; width:100%; height: 430px; padding-right: 5px;">
    <p style="text-align: center;"><%= @random.city %>, <%= @random.country %>  •  <a href="/destinations/<%= @random.id %>">Learn More</a>
  </div>
  <div class="eight wide column">
    <br><br>
    <h8>Welcome to dérive.</h8>
    <p>At dérive, we strive to provide you with a travel destination, specifically tailored to your needs. Once you build your user profile, dérive will craft a curated list of desirable destinations for your next trip.

    <br><br>

    <strong>Would you rather perform a custom search instead?</strong><br>
    You can find our DestinationFinder™ <%= link_to "here", "/destination_search"%>. Additionally, you can browse all of our dérive-approved destinations <%= link_to "here", destinations_path%>.

    <br><br>

    <strong>Have questions?</strong><br>
    Reach out to our dérive Concierge who are waiting to answer your questions. <a href="mailto:p6doyle@outlook.com?subject=Dérive Inquiry" target="_blank">Email</a> us today.</p>

  </div>
</div>
