<div class="ui grid">
  <div class="eight wide column" style="padding-right: 0px;">
    <% random = random_destination %>
    <a href="/destinations/<%= random.id %>"><img src="<%= random.image %>" style="object-fit: cover; object-position: 100% 0; width:100%; height: 430px; padding-right: 5px;"></a>
    <p style="text-align: center;"><%= random.city %>, <%= random.country %>  •  <a href="/destinations/<%= random.id %>">Learn More</a>

    <br><br>
    <% random = random_destination %>
    <a href="/destinations/<%= random.id %>"><img src="<%= random.image %>" style="object-fit: cover; object-position: 100% 0; width:101.5%; height: 430px; padding-right: 5px;"></a>
    <p style="text-align: center; padding-top: 0px;"><%= random.city %>, <%= random.country %>  •  <a href="/destinations/<%= random.id %>">Learn More</a>
  </div>
  <div class="eight wide column">
    <br><br>
    <h8>DestinationFinder™</h8>
    <p>
    <% if @user %>
      <i><%= @user.name %>, search for your next curated destination using the interactive search form below.</i>
    <% else %>
      Search for your next curated destination using the interactive search form below.<br><br>
      Not all fields are required for dérive to recommend destinations.<br>
      When selecting your <i>interests</i> and <i>locales</i>, please press ⌘ and click to select more than one option .</p>
    <% end %>

    <div class="row4">
      <%= form_tag "/search_results", method: "get" %>
      <div class="column4" style="background-color:#D2BD9D;">
        <h7>Interests</h7><br>
        <p>What do you like to do?</p><br>
        <%= select_tag "search[interests]", options_for_select(Interest.all.sort_by(&:name).collect{ |i| [i.name, i.id] }), multiple: true, size: 7 %><br>
    </div>
      <div class="column4" style="background-color:#85746B;">
        <h7>Locales</h7>
        <p>What type of environment excites you?</p><br>
        <%= select_tag "search[locales]", options_for_select(Locale.all.sort_by(&:name).collect{ |l| [l.name, l.id] }), multiple: true, size: 5 %> <br>
      </div>
      <div class="column4" style="background-color:#AC8870;">
        <h7>Budget & Language</h7>
        <p>What is your budget?</p>
        <%= select_tag "search[budget]", options_for_select(["$", "$$", "$$$", "$$$$"]), include_blank: 'Select a budget'%><br><br>
        <p>Do you prefer English speaking destinations?</p>
        <%= select_tag "search[english?]", options_for_select([['Yes', 1], ['No', 0]]), include_blank: 'Select preference'%><br><br>
        <b><%= submit_tag 'Search for Destinations'%></b> <br>
      </div>
    </div><br><br>
    <% if !@search.empty? %>
        <h7>dérive Destinations filtered <br>by your preferences:</h7>
        <p>The destinations at the top of the list are the most compatible with your travel preferences.</p>
        <ul>
        <% @destinations.each do |d, value| %>
        <li><p><%= link_to "#{d.city}, #{d.country} (#{value} matches)", destination_path(d)%></p></li>
        <% end %> </ul>

      <% else %>

        <br>
        <h7>All <i>Dérive</i> Destinations:</h7>
        <ul>
        <% @destinations.each do |d| %>
        <li><p><%= link_to "#{d.city}, #{d.country}", destination_path(d)%></p></li>
        <% end %> </ul>
    <% end %>
  </div>
</div>
